
/* UTILITIES */

.utilities {
font:11px "neutra-2-text-n4","neutra-2-text-1", Arial, Helvetica, sans-serif;
font-weight: 400;
list-style:none;
text-transform:uppercase;
}

.utilities .utility-print, .utilities .utility-email, .utilities .utility-single-page {
float:left;
margin-top:5px;
}
.utilities .utility-feeds, #slideshow-cm-sharing .utility-share {
float:left;
}

.utilities .utility-print,.utilities .utility-email,.utilities .utility-feeds {
margin-right:4px;
padding-right:4px;
}

#blogs .socialUtils .utilities .utility-single-page{
 border-right:1px solid #000;
margin-right:4px;
padding-right:4px;
}
.utilities .utility-share
{display:inline;}

.utilities-top {
float:right;
margin-bottom:8px;
margin-right:20px;
}

.utilities-top .utility-print {
clear:none;
}

.utilities-bottom {
clear:both;
float:left;
margin-bottom:5px;
width:338px;
}




/* Social */
.share-links {
clear:both;
float:left;
font:10px Arial,Helvetica,sans-serif;
text-transform:uppercase;
}

.eventUtils{
    float:left;
    padding:0 20px 20px 40px;
    width:338px;
}

.eventUtils .socialUtils .utility-gplusone {
    width: 82px;
}

.eventUtils .socialUtils .utilities {
    width: 360px;
}

.socialUtils {
    clear:both;
    float:left;
    margin-bottom:20px;
}

.socialUtils .utilities {
    float:left;
    margin: 0px 0px 5px;
    width: 320px;
}

.eventUtils .socialUtils .utilities {
    width: 423px;
}

.eventUtils .utility-like {
    width: 125px;
}

.eventUtils .socialUtils .utilities li {
    float: left;
    height: 20px;
    min-width: 80px;
}

.eventUtils .socialUtils .utilities li.utility-print,  .eventUtils .socialUtils .utilities li.utility-email {
    height: auto;
    min-width: 31px;
    padding: 1px 4px 1px 0px;
}

.socialUtils ul.utilities li{
    float:left;
}

.socialUtils .utilities li {
    margin-right: 5px;
}

.socialUtils .utilities .utility-share {
background-image:url("i/icons/icons_social_utils.gif");
background-position:0 -59px;
background-repeat:no-repeat;
float:left;
line-height:22px;
padding-left:20px;
}

.utilities .utility-print, .utilities .utility-email, .utilities .utility-feeds, #slideshow-cm-sharing .utility-share, .utilities .utility-share {
float:left;
margin-top:5px;
}


.socialUtils .utilities .utility-print {
    border-left: 1px solid #FFF;
    padding-left:0;
}

.socialUtils .utilities .utility-print,
.socialUtils .utilities .utility-email,
 {
    margin-top: 5px;
}
#blogs .socialUtils{
    padding-bottom: 20px;
    width:580px;
}

#blogs ul.socialUtils li{
margin-right:0px;
font:10px Arial,Helvetica,sans-serif;
float: left;
}
#blogs .socialUtils .utility-comments a {
background:url("/css/i/shell/comments.png") no-repeat right 4px;
float:left;
width: 88px;
height:20px;
text-decoration:none;
overflow:visible;
}

#blogs .socialUtils .utility-comments a span {
    background:url("/css/i/shell/num-of-comments.png") no-repeat;
    display: block;
    font-family: 'Arial', sans-serif;
    width: 28px;
    height: 21px;
    line-height: 18px;
    overflow:visible;
    text-align:center;
}

#blogs .socialUtils .utility-share {
background-image:url("i/icons/icons_social_utils.gif");
background-position:0 -59px;
background-repeat:no-repeat;
float:left;
line-height:22px;
padding-left:20px;
display:none;
}
#blogs .socialUtils .utility-print{
float:left;
position:relative;
}

#blogs .socialUtils .utility-like-sm, #blogs .socialUtils .utility-like {
    width:128px;
     float:left;
    height:20px;
}

.socialUtils .utility-in-share {
    text-transform: capitalize;
}

.socialUtils .utility-like-sm, .socialUtils .utility-like, .socialUtils .utility-in-share {
    float:left;
    height:20px;
}

.ss_arts.ss_events .socialUtils .utility-like-sm, .socialUtils .utility-like {
    float:none;
    height:20px;
}

.s_arts.ss_events .socialUtils .utilities li.utility-email {
   border-right: 0px solid #FFFFFF;
}

.socialUtils .utility-digg {
    float:left;
    height:20px;
    line-height:16px;
}

.socialUtils .utility-tweetmeme-sm, .socialUtils .utility-tweet {
    overflow:hidden;
    width:auto;
    float:left;
}

.utilities-bottom-social {
margin-bottom:23px;
}

.utilities-bottom-social li {
border-right:1px solid #000;
padding:0 5px;
float:left;
}

.utilities-bottom-social li.utility-more {
background:none repeat scroll 0 0 transparent;
}

.utilities-bottom-social li a {
float:left;
padding-left:20px;
margin-left:5px;
background-image:url(i/icons/icons_social_utils.gif);
background-repeat:no-repeat;
height:20px;
line-height:16px;
}

.utilities-bottom-social li.utility-digg a {
background-position:0 1px;
margin-left:2px;
margin-right:2px;
}

.utilities-bottom-social li.utility-facebook a {
background-position:0 -19px;
margin-right:2px;
}

.utilities-bottom-social li.utility-twitter a {
background-position:0 -79px;
margin-left:0;
margin-right:2px;
}



/* reddit not used yet */
.utilities-bottom-social li.utility-reddit a {
background-position:0 -99px;
}

/* yahoo buzz retired */
.utilities-bottom-social li.utility-yahoo-buzz a {
display:none;
/*background:none; margin-right: -20px; margin-left: -14px; */
}

.utilities-bottom-social .utility-more,.utilities-bottom-social .utility-share {
border:none;
}

.utilities-bottom-social .utility-more a,.utilities-bottom-social .utility-share a {
background-position:0 -59px;
}

/* Google Plus one */
.utilities-fblike-twitter .utility-gplusone, {
    float: left;
    overflow: hidden;
    width: 150px;
}

.eventUtils .utility-gplusone{
    width: 60px;
}

#blogs .socialUtils .utility-gplusone {
    margin-right:15px;
}

#articleRail .socialUtils .utility-like {
    clear: both;
    float: left;
    height: 20px;
    width: 145px;
}

.socialUtils .utilities .utility-gplusone {
margin-bottom: 7px !important;
}

/* Facebook Like & TweetMeme */
.utilities-fblike-twitter {
    float:left;
    margin-top:10px;
    width:597px;
}

li.utility-tweetmeme {
    float:right;
    width: 50px;
}

.utils,.socialLinks,.socialLinks h6 {
font:normal 10px Arial;
text-transform:uppercase;
}

.utils .icons  {
clear:both;
float:right;
width:200px;
text-align:right;
}

.utils .size,
.utility-textsize {
background:url(i/article/AAA.gif) right top no-repeat;
position:relative;
height:17px;
display:none;
}

.utility-textsize {
    clear:both;
}

.utils .size dt,
.utility-textsize dt {
text-align:right;
padding:4px 50px 0 0;
}

.utils .size dd,
.utility-textsize dd {
text-indent:-9999px;
font-size:1px;
line-height:.1em;
}

.utils .size dd a,
.utility-textsize dd a {
text-decoration:none;
display:block;
position:absolute;
top:0;
height:13px;
overflow:hidden;
}

.utils .size dd.small a,
.utility-textsize dd.small a {
width:9px;
right:39px;
}

.utils .size dd.medium a,
.utility-textsize dd.medium a {
width:10px;
right:20px;
}

.utils .size dd.large a,
.utility-textsize dd.large a {
width:10px;
right:0;
}

.icons .emailico,.icons .printico {
background:url(i/article/pipe.gif) right 2px no-repeat;
padding-right:5px;
margin-right:1px!important;
margin-right:3px;
}

.icons .singleico {
background:url(i/article/pipe.gif) left 2px no-repeat;
padding-left:5px;
margin-left:1px!important;
margin-left:3px;
}

.socialLinks {
clear:right;
padding-top:12px;
margin-bottom:23px;
}

.socialLinks .icons {
margin-bottom:3px;
}

.socialLinks h6 {
float:left;
padding-left:20px;
margin-left:5px;
background-image:url(i/icons/icons_social_utils.gif);
background-repeat:no-repeat;
height:20px;
line-height:16px;
background:none;
padding-left:0;
margin-left:0;
}

.socialLinks li.social-yahoo-buzz a {
top:0;
padding-top:0;
background-position:right 3px;
}

/*styles used to manipulate Yahoo! Buzz inline styles*/
span.yahooBuzzBadge-form {
float:left;
padding-right:17px;
margin-top:-2px;
}

span.yahooBuzzBadge-form span {
position:static!important;
float:left;
padding-left:0!important;
padding-top:2px;
margin-right:4px;
}

/* modified in IE6.css */
span.yahooBuzzBadge-form span span {
position:static!important;
float:left;
padding-top:0;
padding-left:0!important;
left:-20px!important;
}

/*yahoo icon*/
.socialLinks li {
list-style:none;
float:left;
padding-right:5px;
background:url(i/index/pipe.gif) no-repeat;
background-position:right 2px;
}

.socialLinks li.social-more {
background:none;
}

.socialLinks li a {
float:left;
padding-left:20px;
margin-left:5px;
background-image:url(i/icons/icons_social_utils.gif);
background-repeat:no-repeat;
height:20px;
line-height:16px;
}

.socialLinks li.social-digg a {
background-position:0 1px;
}

.socialLinks li.social-facebook a {
background-position:0 -19px;
margin-right:2px;
}

.socialLinks li.social-yahoo-buzz a {
background:none;
margin-right:-20px;
margin-left:-14px;
}

.socialLinks li.social-more a {
background-position:0 -60px;
}

/* CLEARFIX */
.socialLinks:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.socialLinks {
clear:both;
display:block;
height:1%;
}
/*  */

/* CSS FOR UTILS at TOP */
.topSocialUtils .utilities-fblike-twitter {
text-indent: 0px !important;
}

.topSocialUtils li {
float: left;
width: auto !important;
}
/* CSS FOR UTILS at TOP */

.utilities.utilities-fblike-twitter.hide-utilities,.utility-gplusone.ie7-hide-googleplus {     /* hide google plus for IE7 as it is not Supported by google */
    display: none !important;
}

/* Social Ulilities */

.more-actions .utility-comments {
    border-left: 1px solid #cccccc;
    font-family: "neutra-2-display-n9","neutra-2-display-1",Times New Roman,serif;
    font-size: 10px;
    text-transform: uppercase;

    float: right;
    margin-right: 0;
    padding-left: 6px;
}

.more-actions .utility-comments p {
    visibility: none;
}

.socialUtils {
    float: none;
    height: 20px;
    padding-top: 10px;
    z-index: 1;
    margin-bottom: 0px;
}
.socialUtils:after{
  content: "";
  display: table;
  clear: both;
}


.socialUtils .utility-tweetmeme-sm,#blogs .socialUtils .utility-tweet {
    width: 98px;
}

.socialUtils .utility-print {
    float: left;
    position: relative;
}

/*
#blogs .socialUtils .utility-pinit {
    clear: left;
    margin: 12px 0 0 0;
    height: 20px;
    position: relative;
    top: 10px;
    width: 80px;
}*/

.socialUtils .utility-pinit {
    clear:left;
    display: block;
    padding-top:1px;
}

.socialUtils .utility-pinit a {
    background:url("/css/i/shell/pinit-share.png") no-repeat;
    clear: left;
    display: block;
    font: 10px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    padding-left: 26px;
    margin: 9px 0 0 0 ;
    width: 62px;
}

.socialUtils .utility-stumble-upon {
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 18px;
}

.socialUtils ul li {
    font: 10px Arial,Helvetica,sans-serif;
    margin-right: 15px;
}

.socialUtils .utility-in-share {
    margin: 0;
}

.socialUtils .utility-in-share a {
    background:url("/css/i/shell/linkedin-share.png") no-repeat;
    clear: left;
    display: block;
    font: 10px Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    padding-left: 26px;
    margin: 10px 0 0 0 ;
    width: 62px;
}

.socialUtils .utility-print, .socialUtils .share-more-utility {
    font-family: "neutra-2-display-n9","neutra-2-display-1",Times New Roman,serif;
    font-size: 10px;
    text-transform: uppercase;

    height: auto;
    width: auto;

    position: relative;
    overflow: visible;
}

.socialUtils .utility-print a, .socialUtils .share-more-utility .show-share-more{
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 30px;
    padding-left: 25px;
}

.socialUtils .share-more-utility .show-share-more {
    background: url('/css/i/shell/share-more-open.png') no-repeat;
}

.socialUtils .utility-print a {
    background: url('/css/i/shell/print-share.png') no-repeat;
    margin-left: 18px;
}

.share-more-container {
    background-color: #ffffff;
    border: 3px solid #000000;

    display: none;
    width: 168px;
    height: 108px;
    padding: 6px;

    position: absolute;
    top: -10px;
    right: 100px;
    z-index: 5;
}

.more-share-utilities {
    overflow:hidden;
    padding-top: 12px;

}

.more-share-utilities:after {
  content: "";
  display: table;
  clear: both;
}

.more-share-utilities li {
    float: left;
}

.more-share-utilities li a {
    font-family: "neutra-2-display-n9","neutra-2-display-1",Times New Roman,serif;
    font-size: 10px;
    display: block;
    height: 20px;
    line-height: 20px;
}

.socialUtils .utility-email {
    margin: 10px 0 0 0;
    float: left;
    width: 60px;
    height: 20px;
}

.socialUtils .utility-email a{
    background:url("/css/i/shell/email-share.png") no-repeat;
    display: block;
    font-family: "neutra-2-display-n9","neutra-2-display-1",Times New Roman,serif;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    height: 20px;
    padding-left: 30px;
}
}
.socialUtils .utility-like-sm{
    margin-top:2px;
}

.socialUtils .utility-reddit{
    width:120px;
    float:left;
}

.socialUtils .utility-reddit-share {
    width: 60px;
}

.socialUtils .utility-reddit-share a{
    background:url("/css/i/shell/reddit-share.png") no-repeat;
    text-transform: uppercase;
    padding-left: 30px;
}

.share-more-container .more-share-utilities .utility-tumblr a {
    background: url('/css/i/shell/tumblr-share.png') no-repeat 0 0;
    padding-left: 26px;
    text-indent: 0px;
    width: 48px;
}

.share-more-container h2 {
    display: block;
    font: bold 10px "neutra-2-text-n4","neutra-2-text-1","Times New Roman",Times,serif;
    position: relative;
}

.share-more-container .share-more-close {
    background-image: url('/css/i/shell/share-more-close.png');
    cursor: pointer;
    display: block;
    height: 19px;
    width: 18px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 2px;
    right: 4px;
}

.socialUtils .utility-Stumbleupon{
    float:left;
}

.social-utils-top{
    padding: 2px 0 0 0;
    clear: both;
    height: auto;
    width: 100%;
    margin: 10px 0 22px 0;
}

.social-utils-top:after{
    content: "";
    display: table;
    clear: both;
}

.socialUtils-bottom {
    clear:both;
    display: block;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.social-utils-top .socialUtils {
    margin-left: 40px;
}

.ss_blogs .social-utils-top .utility-like-sm {
    width: 150px;
}

.social-utils-top .utility-gplusone{
    padding-left:9px;
}

.socialUtils ul.utilities li.utility-fb-recommend{
    margin:0 16px 0 0;
    height:22px;
}

.socialUtils ul.utilities li.utility-fb-recommend a {
    background: url('/css/i/shell/facebook-share.png') no-repeat;
    display: block;
    height: 20px;
    width: 100px;
}

.socialUtils ul.utilities li.utility-fb-recommend a .fb-share-count {
    background: url('/css/i/shell/fb-comment-arrow.png') no-repeat left center;

    display: inline-block;
    margin-left: 60px;
    padding: 0 6px;
    overflow: visible;
    height: 20px;
    width: auto;

    text-align: center;
}

.socialUtils ul.utilities li.utility-fb-recommend a span {
    display: inline-block;

    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;

    line-height: 18px;
    padding: 0px 5px;
    margin-left: -2px;
}

.socialUtils ul.utilities li.utility-fb-recommend iframe{
    width:100px;
}

.ss_blogs .socialUtils .utilities{
    border-right: 1px solid #cccccc;
    height:20px;
    width:329px;
}

.utilsPrintEmail {
    padding-bottom: 54px;
    clear: both;
}

.utilsPrintEmail .utility-comments a {
    float:left;
    background: url("i/icons/btn_comment.gif") no-repeat 0px 7px;
    width: 79px;
    height:28px;
    margin-right:32px;
    text-decoration:none;
}

.utilsPrintEmail li.utility-print a {
    background:url("/css/i/shell/social-print-email.gif") no-repeat left;
    width:58px;
    height:22px;
    display:block;
    text-indent:-999px;
}

.utilsPrintEmail li.utility-email {
    margin-right: 0;
}

.utilsPrintEmail li.utility-email a {
    background:url("/css/i/shell/social-print-email.gif") no-repeat  -65px 0;
    width:58px;
    height:22px;
    display:block;
    text-indent:-999px;
    margin-right:6px;
}

.utilsPrintEmail .utility-print {
    margin-top: 6px;
    padding-right: 6px;
}
